.board-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 11px;
}
.board-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
 
}
.square {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  font-size: 24px;
    
  
}
.play-again-btn {
  padding: 10px 20px;  
  font-size: 16px;      
  background-color: gray;  
  color: black;         
  border: none;         
  border-radius: 5px;   
  cursor: pointer;     
  transition: background-color 0.3s;  
  margin-bottom: 20px; 
  font-size: bold;
}

.play-again-btn:hover {
  background-color: darkgray;  
}


.game-footer {
  margin-top: 30px; 
  font-size: 30px;
  color: #333;
  text-align: center;
}